<template name="insertServerForm">
  {{> quickForm collection="Servers" id="insertServerForm" type="insert"}}
</template>


<template name="insertTaskForm">
  {{> quickForm collection="Tasks" id="insertTaskForm" type="insert"}}
</template>


<template name="insertFieldForm">
  {{> quickForm collection="Fields" id="insertFieldForm" type="insert"}}
</template>


<template name="insertSchemaDefinitionForm">
  {{> quickForm collection="SchemaDefinition" id="insertSchemaDefinitionForm" type="insert"}}
</template>
